doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/semantic/dist/semantic.css')
    script(src='/semantic/dist/semantic.min.js')
  body
    block content
